/*
** ====================================================
** FONTS.SCSS
**
** Provide some fonts for the Framework through Fontface
** ====================================================
*/

// BARIOL WEBFONT

@font-face {
    font: 300 16px/1.6 "museo-sans-rounded", Arial, sans-serif !important;
}

@font-face {
    font: 300 16px/1.6 "museo-sans-rounded", Arial, sans-serif !important;
    font-style: italic;
}

@font-face {
    font: 300 16px/1.6 "museo-sans-rounded", Arial, sans-serif !important;  
    font-weight: 700;
}
