# SCM
.git*

# OS
.DS_Store

# Not needed during the build
_site
.editorconfig
.sass-cache
*.env*
CODE_OF_CONDUCT.md
codeship-services.yml
codeship-steps.yml
codeship.aes
CONTRIBUTING.MD
deployment.env*
dockercfg*
Dockerfile*
external
LICENSE.md
node_modules
README.md
SUPPORT.md
templates
