<button class="flexMenuToggleButton -right" data-rig-flexmenu-element="toggle">
  <span class="icon fa fa-bars"></span>
</button>
<div class="flexMenu -right" data-rig-ui-menu="horizontal" data-rig-flexmenu-element="menu">
  <nav class="flexMenu_nav">

    <div class="flexMenu_block -left -logo">
        <a href="{{ site.url }}"><img alt="Codeship Logo" src="{{ site.baseurl }}/assets/img/logo.png" /></a>
    </div>
    <ul class="flexMenu_block -right">

      <li class="flexMenu_block_item">
        <a href="https://pages.codeship.com/docker?utm_source=codeship&utm_medium=navbar&utm_campaign=docker-addon">Docker Platform</a>
      </li>
      <li class="flexMenu_block_item">
        <a href="https://codeship.com/features">Features</a>
      </li>
      <li class="flexMenu_block_item">
        <a href="https://codeship.com/pricing">Pricing</a>
      </li>
      <li class="flexMenu_block_item -showMobile">
        <a href="https://app.codeship.com/sessions/new">Login</a>
      </li>
      <li class="flexMenu_block_item">
        <a href="https://app.codeship.com/registrations/new" class="signUpButton">Free Signup</a>
      </li>
    </ul>
  </nav>
</div>
