{% assign collections = site.collections | sort: 'sort_order' %}
<nav class="Topmenu">
  <div class="Topmenu_nav">
    <ul>
      <li>
        <button>Search
          <span class="icon fa fa-search"></span>
        </button>
      </li>
      {% for collection in collections %}
      {% if collection.label == 'posts' %}
      {% continue %}
      {% endif %}
      <li>
        {% if collection.shortname == page.collection %}
          <strong><a href="{{ collection.label | relative_url }}/">
            {{ collection.title }}
          </a></strong>
        {% else %}
          <a href="{{ collection.label | relative_url }}/">
            {{ collection.title }}
          </a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="Topmenu_search">
    <span>
      press <strong>esc</strong> to <button>close</button>
    </span>
    <form action="/">
      <input type="search" id="search" name="search" autofocus="false" spellcheck="false" placeholder="Search the documentation">
      <input class="is-hidden" type="submit" />
    </form>
  </div>
</nav>

<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v1/st.js','_st');

  _st('install','bkVUpGdrMMVM73Lx7EQp');
</script>
