{% assign collections = site.collections | sort: 'sort_order' %}
<nav class="Topmenu">
  <div class="Topmenu_header">
    <h1>Codeship Documentation</h1>
  </div>
  <div class="Topmenu_nav">
    <ul>
      {% for collection in collections %}
      {% if collection.label == 'posts' %}
      {% continue %}
      {% endif %}
      <li>
        <a href="{{ collection.label | relative_url }}/">
          {{ collection.title }}
        </a>
      </li>
      {% endfor %}
      <li>
        <button>
          <span class="icon fa fa-search"></span>
        </button>
      </li>
    </ul>
  </div>

  <div class="Topmenu_search">
    <button>close</button>
    <form action="/">
      <input type="search" id="search" name="search" autofocus="false" spellcheck="false" placeholder="Search the documentation">
      <input class="is-hidden" type="submit" />
    </form>
  </div>
</nav>

<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v1/st.js','_st');

  _st('install','bkVUpGdrMMVM73Lx7EQp');
</script>
