<footer class="Footer">
  <div class="Footer_sitemap">
    <div class="contentWrapper">
      <div class="grid grid--cling">
        <ul class="colxs100 colsm50 colmd33 collg33">
          <li class="Footer_sitemap_title">Platform</li>
          <li><a target="_blank" href="https://pages.codeship.com/docker">Docker Continuous Integration</a></li>
          <li><a href="https://codeship.com/features">Features</a></li>
          <li><a href="https://codeship.com/features/parallelci">ParallelCI</a></li>
        </ul>
        <ul class="colxs100 colsm50 colmd33 collg33">
          <li class="Footer_sitemap_title">Company</li>
          <li><a href="https://codeship.com/team">Team</a></li>
          <li><a href="https://codeship.com/customers">Customers</a></li>
          <li><a href="https://codeship.com/jobs">Careers</a></li>
          <li><a href="https://pages.codeship.com/press">Press</a></li>
        </ul>
        <ul class="colxs100 colsm50 colmd33 collg33">
          <li class="Footer_sitemap_title">Getting Started</li>
          <li><a href="https://codeship.com/pricing">Pricing</a></li>
          <li><a target="_blank" href="https://pages.codeship.com/contact-sales">Contact sales</a></li>
          <li><a target="_blank" href="https://pages.codeship.com/request-a-trial">Request a Codeship Docker trial</a></li>
          <li><a target="_blank" href="https://codeship.com/swag">Get Codeship Swag</a></li>
        </ul>
        <ul class="colxs100 colsm50 colmd33 collg33">
          <li class="Footer_sitemap_title">Help</li>
          <li><a href="https://documentation.codeship.com">Documentation</a></li>
          <li><a href="https://community.codeship.com/">Community</a></li>
          <li><a href="http://helpdesk.codeship.com/" target="_blank">Contact Support</a></li>
        </ul>
        <ul class="colxs100 colsm50 colmd33 collg33">
          <li class="Footer_sitemap_title">Case Studies</li>
          <li><a href="https://codeship.com/customers/product-hunt">Product Hunt</a></li>
          <li><a href="https://codeship.com/customers/bannerman">Bannerman</a></li>
          <li><a href="https://codeship.com/customers/lendingcrowd">Lending Crowd</a></li>
        </ul>
        <ul class="colxs100 colsm50 colmd33 collg33">
          <li class="Footer_sitemap_title">Legal</li>
          <li><a href="https://codeship.com/tos">Terms of Service</a></li>
          <li><a href="https://codeship.com/privacy">Privacy</a></li>
          <li><a href="https://codeship.com/security">Security</a></li>
          <li><a href="https://codeship.com/imprint">Imprint</a></li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="Footer_links">
    <li>
      <a target="_blank" href="http://pages.codeship.com/contact-sales">
        <span class="icon fa fa-phone"></span> 855.790.8079
      </a>
    </li>
    <li>
      <a target="_blank" href="https://twitter.com/codeship">
        <span class="icon fa fa-twitter"></span>Twitter
      </a>
    </li>
    <li>
      <a target="_blank" href="https://plus.google.com/104419910257777182146/posts">
        <span class="icon fa fa-google-plus"></span>Google +
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.linkedin.com/company/codeship">
        <span class="icon fa fa-linkedin"></span>LinkedIn
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.facebook.com/codeship/">
        <span class="icon fa fa-facebook"></span>Facebook
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.youtube.com/channel/UCxc5i0d5pIJJeF39NFdCGRQ">
        <span class="icon fa fa-youtube"></span>YouTube
      </a>
    </li>
  </ul>
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/velocity/0.11.9/jquery.velocity.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/ui.js"></script>
