<footer class="Footer">
  <div class="Footer_sitemap">
    <div class="contentWrapper">
      <div class="grid grid--cling">
        <ul class="colxs100 colsm50 colmd33 collg33">
          <li class="Footer_sitemap_title">Platform</li>
          <li><a target="_blank" href="https://codeship.com/features">Features</a></li>
          <li><a href="https://codeship.com/features/basic">Codeship Basic</a></li>
          <li><a href="http://codeship.com/features/basic/parallel-test-pipelines">Parallel Test Pipelines</a></li>
          <li><a href="https://codeship.com/features/pro">Codeship Pro</a></li>
        </ul>
        <ul class="colxs100 colsm50 colmd33 collg33">
          <li class="Footer_sitemap_title">Company</li>
					<li><a href="https://codeship.com/about">About Us</a></li>
          <li><a href="https://codeship.com/team">Team</a></li>
          <li><a href="https://codeship.com/customers">Customers</a></li>
          <li><a href="https://codeship.com/jobs">Careers</a></li>
        </ul>
        <ul class="colxs100 colsm50 colmd33 collg33">
          <li class="Footer_sitemap_title">Pricing</li>
          <li><a href="https://codeship.com/pricing">Codeship Pricing</a></li>
          <li><a target="_blank" href="https://codeship.com/pricing/basic">Codeship Basic</a></li>
          <li><a target="_blank" href="https://codeship.com/pricing/pro">Codeship Pro</a></li>
          <li><a target="_blank" href="https://codeship.com/contact-sales">Contact Sales</a></li>
        </ul>
        <ul class="colxs100 colsm50 colmd33 collg33">
          <li class="Footer_sitemap_title">Help</li>
          <li><a href="https://documentation.codeship.com">Documentation</a></li>
          <li><a href="https://documentation.codeship.com/pro/quickstart/getting-started/">Start with Codeship Pro</a></li>
          <li><a href="https://helpdesk.codeship.com/" target="_blank">Contact Support</a></li>
        </ul>
        <ul class="colxs100 colsm50 colmd33 collg33">
          <li class="Footer_sitemap_title">Case Studies</li>
          <li><a href="https://codeship.com/customers/travelperk">TravelPerk</a></li>
          <li><a href="https://codeship.com/customers/product-hunt">Product Hunt</a></li>
          <li><a href="https://codeship.com/customers/bannerman">Bannerman</a></li>
          <li><a href="https://codeship.com/customers/lendingcrowd">Lending Crowd</a></li>
        </ul>
        <ul class="colxs100 colsm50 colmd33 collg33">
          <li class="Footer_sitemap_title">Legal</li>
          <li><a href="https://codeship.com/tos">Terms of Service</a></li>
          <li><a href="https://codeship.com/privacy">Privacy</a></li>
          <li><a href="https://codeship.com/security">Security</a></li>
          <li><a href="https://codeship.com/imprint">Imprint</a></li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="Footer_links">
    <li>
      <a target="_blank" href="http://pages.codeship.com/contact-sales">
        <span class="icon fa fa-phone"></span> 855.790.8079
      </a>
    </li>
    <li>
      <a target="_blank" href="https://twitter.com/codeship">
        <span class="icon fa fa-twitter"></span>Twitter
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.instagram.com/codeship/">
        <span class="icon fa fa-instagram"></span>Instagram
      </a>
    </li>
    <li>
      <a target="_blank" href="https://plus.google.com/104419910257777182146/posts">
        <span class="icon fa fa-google-plus"></span>Google +
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.linkedin.com/company/codeship">
        <span class="icon fa fa-linkedin"></span>LinkedIn
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.facebook.com/codeship/">
        <span class="icon fa fa-facebook"></span>Facebook
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.youtube.com/channel/UCxc5i0d5pIJJeF39NFdCGRQ">
        <span class="icon fa fa-youtube"></span>YouTube
      </a>
    </li>
  </ul>
</footer>
<script>
  var loadDeferredStyles = function() {
    var addStylesNode = document.getElementById("deferred-styles");
    var replacement = document.createElement("div");
    replacement.innerHTML = addStylesNode.textContent;
    document.body.appendChild(replacement)
    addStylesNode.parentElement.removeChild(addStylesNode);
  };
  var raf = requestAnimationFrame || mozRequestAnimationFrame ||
      webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
  else window.addEventListener('load', loadDeferredStyles);
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5796294200199bba"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/velocity/0.11.9/jquery.velocity.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/ui.js"></script>
