{% if page.title %}
  {% assign title = page.title %}
{% elsif page.category %}
  {% if site.data.categories[page.category].title %}
    {% assign title = site.data.categories[page.category].title %}
  {% else %}
    {% assign title = page.category | capitalize %}
  {% endif %}
{% elsif page.tag %}
  {% if site.data.tags[page.tag].title %}
    {% assign title = site.data.tags[page.tag].title %}
  {% else %}
    {% capture title %}#{{ page.tag }} {% endcapture %}
  {% endif %}
{% endif %}
<meta charset="UTF-8" />
<meta HTTP-equiv="Content-Language" content="en-us" />
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Expires" content="30" />

{% if title == 'Documentation' %}
<title>Codeship Documentation: Continuous Deployment And Continuous Integration Support</title>
{% else %}
<title>{{ title | append:' | Codeship Documentation' }}</title>
{% endif %}

<link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="{{ site.baseurl }}/assets/css/docs.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/ico" href="https://codeship.com/favicon.ico" />

<!-- SEO metadata -->
{% seo %}

<!-- start Swiftype -->
<meta class="swiftype" name="url" data-type="enum" content="{{ site.url }}{{ page.url }}" />
<meta class="swiftype" name="published_at" data-type="date" content="{{ site.time | date_to_xmlschema }}" />
{% if page.tags %}
  {% for tag in page.tags %}
  <meta class="swiftype" name="tags" data-type="string" content="{{ tag | downcase }}" />
  {% endfor %}
{% endif %}
<!-- end Swiftype -->

<!-- AddThis Welcome Bar -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5796294200199bba"></script>
