<meta charset="UTF-8" />
<meta HTTP-equiv="Content-Language" content="en-us" />
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Expires" content="30" />

<link href="{{ site.baseurl }}/assets/css/docs.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/ico" href="https://codeship.com/favicon.ico" />

<!-- SEO metadata -->
{% seo %}

<!-- start Swiftype -->
<meta class="swiftype" name="url" data-type="enum" content="{{ site.url }}{{ page.url }}" />
<meta class="swiftype" name="category" data-type="enum" content="{{ page.collection }}" />
<meta class="swiftype" name="published_at" data-type="date" content="{{ site.time | date_to_xmlschema }}" />
{% if page.tags %}
  {% for tag in page.tags %}
  <meta class="swiftype" name="tags" data-type="string" content="{{ tag | downcase }}" />
  {% endfor %}
{% endif %}
<!-- end Swiftype -->

<!-- Contact Info Metadata -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "https://codeship.com",
  "logo": "https://documentation.codeship.com/assets/img/og_documentation.jpg",
  "contactPoint": [{
    "@type": "ContactPoint",
    "telephone": "+1-855-790-8079",
    "contactType": "sales"
  }]
}
</script>

<!-- Sitelinks Searchbox Metadata -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "https://documentation.codeship.com",
  "potentialAction": [{
    "@type": "SearchAction",
    "target": "https://documentation.codeship.com/#stq={searchbox_target}&stp=1",
    "query-input": "required name=searchbox_target"
  }]
}
</script>

<!-- Inspectlet -->
{% include inspectlet.html %}
