{% assign collection = site.collections | where: 'label', page.collection %}
{% assign categories = collection.first.docs | group_by: 'category' | sort: 'name' %}

<aside class="Sidebar">
  <ul>
    {% for category in categories %}
    {% assign documents = category.items | sort: 'weight' %}
      <li>
        <strong>{{ category.name }}</strong>
        <ul>
          {% for document in documents %}
            <li>
              <a href="{{ document.url | relative_url }}">{{ document.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</aside>
