---
---
@import 'shipyard/core';
@import 'shipyard/components/code';
@import 'shipyard/components/buttons';
@import 'shipyard/components/alerts';
@import 'shipyard/utilities';
@import 'rig/rig';

// CUSTOM VARIABLES SECTION

$cMainNav:          #000000;
$cMainNavHover:     $_cBlue;

$cImg:              $_cDarkgrey;
$cImgBorder:        $_cWhite;

$cPageHeaderBorder: rgba($_cWhite, .2);
$cPageHeader:       $_cWhite;
$cPageHeaderBg:     $_cDarkblue;

$cAsideBg:          #f3f6fb;

$cFooter:           $_cWhite;
$cFooterBg:         #101b27;

@import 'docs/nav';
@import 'docs/header';
@import 'docs/search';
@import 'docs/page';
@import 'docs/rouge';
@import 'docs/swift';
@import 'docs/footer';
@import 'docs/gist';
@import 'docs/footnotes';
@import 'docs/topmenu';
@import 'docs/sidebar';
@import 'docs/mobile_fix';
