<!doctype html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body class="{{page.bodyclass}}">
  {% include header.html %}

  {% include search.html %}

  {% include sections.html %}
  <div class="Layout">
    {% if page.collection %}
      <div class="Sidebar">
        {% include sidebar.html %}
      </div>
    {% endif %}

    <div class="Content">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

  {% include mixpanel.html %}
  {% include google_analytics.html %}
  {% include crazy_egg.html %}
</body>
</html>
