<!doctype html>
<html lang="en">
<head>
	{% include head.html %}
</head>
<body class="{{page.bodyclass}}">
<noscript id="deferred-styles">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
	<link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet" />
</noscript>
	{% include codeship_header.html %}
	{% include documentation_header.html %}

	<div class="Layout">
		{% if page.collection %}
			{% include sidebar.html %}
		{% endif %}

		<div class="Content">
			{{ content }}
		</div>
	</div>

	<!-- JS snipped for changelog widget -->
	<script>
		var HW_config = {
			selector: ".changelog_menu", // CSS selector where to inject the badge
			account:  "7NAr9x"
		}
	</script>
	<script async="" src="//cdn.headwayapp.co/widget.js"></script>

	{% include footer.html %}
	{% include segment.html %}
	{% include hubspot.html %}
	{% include zendesk.html %}
</body>
</html>
