---
layout: default
---
{% if page.shortTitle %}
  {% assign title = page.shortTitle %}
{% elsif page.shortTitle == null %}
  {% assign title = page.title %}
{% elsif page.category %}
  {% assign title = page.category | capitalize %}
{% elsif page.tag %}
  {% capture title %}#{{ page.tag }}{% endcapture %}
{% endif %}

<div class="contentWrapper">
  <div class="grid">
    <div class="colxs100 pageContent">

        <div class="product-indicator">
          {% if page.collection == "pro" %}
            <span class="product-pro">This article is about <a href="https://codeship.com/features/pro">Codeship Pro</a>.</span>
          {% elsif page.collection == "basic" %}
            <span class="product-basic">This article is about <a href="https://codeship.com/features/basic">Codeship Basic</a>.</span>
          {% elsif page.collection == "general" %}
            <span class="product-general">This article is about <a href="https://codeship.com/features">General Codeship Configuration</a>.</span>
          {% endif %}
        </div>

      <h1 class="pageTitle">{{ title }}</h1>

      {% include read_time.html %}

      <div data-swiftype-name="body" data-swiftype-type="text" data-swiftype-index='true'>
        {{ content }}
      </div>

      {% csnote %}
				<h4>Need more help?</h4>

				<p>You can post on <a href="http://stackoverflow.com/questions/ask?tags=codeship" target="_BLANK">Stack Overflow</a> using the tag <code>#codeship</code> or <a href="https://helpdesk.codeship.com">contact our Helpdesk</a>.<br />
				We also have a couple of <a href="https://github.com/codeship-library" target="_BLANK">code examples and sample projects</a> available for you to get started with.</p>

        <h4>Article not helpful?</h4>
				<p>Do you think we need to improve this article? If so, please <a href="https://codeship.zendesk.com/hc/en-us/requests/new?ticket_form_id=360000134034" target=_"BLANK">submit our feedback form</a> to help us improve this article!</p>
      {% endcsnote %}
    </div>
  </div>
</div>
