---
layout: default
---
{% if page.title %}
  {% assign title = page.title %}
{% elsif page.category %}
  {% if site.data.categories[page.category].title %}
    {% assign title = site.data.categories[page.category].title %}
  {% else %}
    {% assign title = page.category | capitalize %}
  {% endif %}
{% elsif page.tag %}
  {% if site.data.tags[page.tag].title %}
    {% assign title = site.data.tags[page.tag].title %}
  {% else %}
    {% capture title %}#{{ page.tag }} {% endcapture %}
  {% endif %}
{% endif %}

<div class="contentWrapper">
  <div class="grid">
    <div class="colxs100 pageContent">

      <h1 class="pageTitle" data-swiftype-name="title" data-swiftype-type="string"  data-swiftype-index='true'>{{ title }}</h1>

      <div data-swiftype-name="body" data-swiftype-type="text" data-swiftype-index='true'>
        {{ content }}
      </div>

      {% if page.comments %}
      <div class="comments">
        {% capture url %}{{ page.url | prepend: site.baseurl | prepend: site.url }}{% endcapture %}
        {% include comments.html url=url %}
      </div>
      {% endif %}
      <div class="endcontent-block">
        <h2>Need More Help?</h2>
        <p>Get in touch if you need more help, or post on <a href="https://www.stackoverflow.com" target="_BLANK">Stackoverflow</a> using the tag <strong>#Codeship</strong>.</p>
          <ul>
            <li><a href="https://helpdesk.codeship.com" target="_BLANK">Ask The Helpdesk A Question</a></li>
            <li><a href="https://github.com/codeship-library" target="_BLANK">Code Examples And Sample Projects</a></li>
          <ul>
      </div>
    </div>
  </div>
</div>
