---
layout: default
---
{% if page.title %}
  {% assign title = page.title %}
{% elsif page.category %}
  {% assign title = page.category | capitalize %}
{% elsif page.tag %}
  {% capture title %}#{{ page.tag }}{% endcapture %}
{% endif %}

<div class="contentWrapper">
  <div class="grid">
    <div class="colxs100 pageContent">

        <div class="product-indicator">
          {% if page.collection == "pro" %}
            <span class="product-pro">This article is about <a href="https://codeship.com/features/pro">Codeship Pro</a>.</span>
          {% elsif page.collection == "basic" %}
            <span class="product-basic">This article is about <a href="https://codeship.com/features/basic">Codeship Basic</a>.</span>
          {% elsif page.collection == "general" %}
            <span class="product-general">This article is about <a href="https://codeship.com/features">General Codeship Configuration</a>.</span>
          {% endif %}
        </div>

      <h1 class="pageTitle" data-swiftype-name="title" data-swiftype-type="string"  data-swiftype-index='true'>{{ title }}</h1>

      {% include read_time.html %}

      <div data-swiftype-name="body" data-swiftype-type="text" data-swiftype-index='true'>
        {{ content }}
      </div>
      <div class="endcontent-block">
        <h2>Need More Help?</h2>
        <p>Get in touch if you need more help, or post on <a href="http://stackoverflow.com/questions/ask?tags=codeship" target="_BLANK">Stack Overflow</a> using the tag <strong>#Codeship</strong>.</p>
          <ul>
            <li><a href="https://helpdesk.codeship.com" target="_BLANK">Ask The Helpdesk A Question</a></li>
            <li><a href="https://github.com/codeship-library" target="_BLANK">Code Examples And Sample Projects</a></li>
          <ul>

          <h4>Was This Article Helpful?</h4>
            <div id="pd_rating_holder_8520732" class="polldaddy"></div>
            <script type="text/javascript">
            PDRTJS_settings_8520732 = {
              "id" : "8520732",
              "unique_id" : "8520732_{{ page.title }}",
              "title" : "{{ page.title }}",
              "permalink" : "{{ page.url | prepend: site.baseurl | prepend: site.url }}"
            };
            (function(d,c,j){if(!document.getElementById(j)){var pd=d.createElement(c),s;pd.id=j;pd.src=('https:'==document.location.protocol)?'https://polldaddy.com/js/rating/rating.js':'http://i0.poll.fm/js/rating/rating.js';s=document.getElementsByTagName(c)[0];s.parentNode.insertBefore(pd,s);}}(document,'script','pd-rating-js'));
            </script>

      </div>
    </div>
  </div>
</div>
