$footer-color: #949ba8;
$footer-bg: #15202d;

.Footer {
  background: url('/assets/img/footer-logo.png') no-repeat right 10% center $cFooterBg;
  color: $cFooter;
  padding-top: 40px;
  font-family: 'Lato';
}

.Footer_sitemap {
  ul {
    display: inline-block;
    padding: 0;
  }

  a {
    color: $footer-color;
    font-size: 1rem;

    &:hover {
      color: $cFooter;
    }
  }
}

.Footer_sitemap_title {
  font-size: 1rem;
  text-transform: uppercase;
}

.Footer_links {
  box-sizing: border-box;
  width: 100%;
  background: image-url('website/logo.png') no-repeat left 1rem center $footer-bg;
  background-size: 8rem;
  text-align: right;
  margin: 0;
  padding: 0 $base-padding;

  @include smaller-than('medium-screen') {
    background-image: none;
  }

  li {
    display: inline-block;
    text-align: right;
  }

  a {
    color: $footer-color;
    font-size: .7rem;

    &:hover {
      color: $cFooter;
    }
  }

  .icon {
    width: auto;
    margin-right: .2em;
  }
}
