// Latest RIG Flexmenu Base Code
// Already compiled css because we don't should introduce new mixins and functions now
// scss-lint:disable TrailingSemicolon, SpaceBeforeBrace, MergeableSelector, SingleLinePerSelector, VendorPrefix, SpaceAfterPropertyColon
.flexMenu{display:inline-block;position:fixed;top:0;height:100vh;width:100%;max-width:300px;background:#fff;overflow-x:hidden;overflow-y:scroll;text-align:left;z-index:100}@media screen and (max-width: 900px){.flexMenu{-webkit-transition:-webkit-transform 300ms;transition:transform 300ms;}.flexMenu.-left{-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%)}.flexMenu.-right{-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%)}.flexMenu.is-open{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}}.flexMenu.-left{left:0;border-right:1px solid #ccc}.flexMenu.-right{right:0;border-left:1px solid #ccc}.flexMenu a{display:block;background-image:none}.flexMenu_nav{display:block}.flexMenuToggleButton{position:fixed;top:15px;left:15px;right:15px}@media screen and (min-width: 900px){.flexMenuToggleButton{display:none;}}.flexMenuToggleButton.-left{right:auto}.flexMenuToggleButton.-right{left:auto}.flexMenu_block{padding:0 15px;z-index:101}.flexMenu_block a{display:block;padding:4px 0}.flexMenu_block.-logo{padding:0}.flexMenu_block.-logo>a{-webkit-transition:color 300ms,background 300ms;transition:color 300ms,background 300ms;padding:0 15px;text-decoration:none;background-image:none;color:#242628}.flexMenu_block.-logo>a:hover{color:#2e77cc;background:#eaeaea}.flexMenu_block_item{display:block;position:relative}.flexMenu_block_item>a{padding:4px 0}@media screen and (min-width: 900px){.flexMenu:not([data-rig-ui-menu=horizontal]).-left ~ .container{padding-left:300px}.flexMenu:not([data-rig-ui-menu=horizontal]).-right ~ .container{padding-right:300px}}@media screen and (min-width: 1400px){.flexMenu:not([data-rig-ui-menu=horizontal]).-left ~ .container{padding-left:150px}.flexMenu:not([data-rig-ui-menu=horizontal]).-right ~ .container{padding-right:150px}}@media screen and (min-width: 1500px){.flexMenu:not([data-rig-ui-menu=horizontal]).-left ~ .container{padding-left:100px}.flexMenu:not([data-rig-ui-menu=horizontal]).-right ~ .container{padding-right:100px}}@media screen and (min-width: 1700px){.flexMenu:not([data-rig-ui-menu=horizontal]).-left ~ .container{padding-left:0}.flexMenu:not([data-rig-ui-menu=horizontal]).-right ~ .container{padding-right:0}}@media screen and (min-width: 900px){.flexMenu[data-rig-ui-menu=horizontal]{display:block;height:auto;max-width:100%;border:0;border-bottom:1px solid #ccc;overflow:visible}.flexMenu[data-rig-ui-menu=horizontal] .flexMenu_nav{display:table;width:100%}.flexMenu[data-rig-ui-menu=horizontal] .flexMenu_block{display:table-cell;vertical-align:middle;height:auto;text-align:left}.flexMenu[data-rig-ui-menu=horizontal] .flexMenu_block.-left,.flexMenu[data-rig-ui-menu=horizontal] .flexMenu[data-rig-ui-menu=horizontal] .flexMenu_block.-left{margin-left:0}.flexMenu[data-rig-ui-menu=horizontal] .flexMenu_block.-right{margin-right:0;text-align:right}.flexMenu[data-rig-ui-menu=horizontal] .flexMenu_block_item{display:inline-block}.flexbox .flexMenu[data-rig-ui-menu=horizontal] .flexMenu_nav{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}.flexbox .flexMenu[data-rig-ui-menu=horizontal] .flexMenu_block{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;text-align:center}.flexbox .flexMenu[data-rig-ui-menu=horizontal] .flexMenu_block.-left,.flexbox .flexMenu[data-rig-ui-menu=horizontal] .flexMenu_block.-right{width:auto;-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0}.flexbox .flexMenu[data-rig-ui-menu=horizontal] .flexMenu_block_item{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.flexbox .flexMenu[data-rig-ui-menu=horizontal] ul.flexMenu_block{-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start}}

// scss-lint:enable TrailingSemicolon, SpaceBeforeBrace, SingleLinePerSelector, VendorPrefix, SpaceAfterPropertyColon

// COLOR MAP
// ---------
$m-colors: (
  header: (
    base: #fff,
    baseTop: #949ba8,
    bg: #101b27,
    borderBottom: rgba(#fff, .2)
  ),
  signupButton: (
    base: #fff,
    bg: #60cc69,
    bgHover: #4dc657
  ),
  anchor: (
    hover: #5a95e5
  )
);

// BREAKPOINTS
// -----------
$bp-xs: 400px;
$bp-s: 600px;
$bp-m: 900px;
$bp-l: 1100px;

// BREAKPOINT MAP FOR HELPER MIXINS
// --------------------------------
$m-breakpoints: (
  supersmall-screen: $bp-xs,
  small-screen: $bp-s,
  medium-screen: $bp-m,
  large-screen: $bp-l
);

// FUNCTIONS
// ---------
// Function returns values form the $m-colors Map, default value base should always be set
@function color-get($color-group, $filter: base) {
  $map: map-get($m-colors, $color-group);
  @return map-get($map, $filter);
}

// MIXINS
// ------
@mixin smaller-than($breakpoint-name, $removeValue: 0) {
  $width: map-get($m-breakpoints, $breakpoint-name);

  @media screen and (max-width: #{$width - $removeValue}) {
    @content;
  }
}

@mixin larger-than($breakpoint-name, $addValue: 0) {
  $width: map-get($m-breakpoints, $breakpoint-name);

  @media screen and (min-width: #{$width + $addValue}) {
    @content;
  }
}

// HEADER STYLING
// --------------
.flexMenu {
  background: color-get(header, bg);
  color: color-get(header, base);
  border: 0 !important;
}

.flexMenu_nav.-topRow {
  padding: .2rem 0;

  @include larger-than('medium-screen') {
    border-bottom: 1px solid rgba(color-get(header, base), .2);

    .flexMenu_block {
      padding: 0;
    }

    .flexMenu_block_item a {
      font-size: .7rem;
      text-align: center;
    }

    .flexMenu_block.-right .flexMenu_block_item a {
      color: color-get(header, baseTop);

      &:hover {
        color: color-get(header, base);
      }
    }
  }

}

@include smaller-than('medium-screen') {
  .flexMenu_block {
    margin: 0;
  }
}

.flexMenu_block.-logo { // scss-lint:disable MergeableSelector
  text-align: center;

  @include smaller-than('medium-screen') {
    display: none;
  }

  a {
    padding: 10px 15px;
  }

  a:hover {
    background: none;
  }

  img {
    height: 40px;
    vertical-align: middle;
  }

}

.flexMenuToggleButton {
  appearance: none;
  z-index: 110;
  border: 2px solid color-get(header, base);
  background: color-get(header, bg);
  color: color-get(header, base);
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  padding: 0;
  text-align: center;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.flexMenu_block_item {
  text-transform: uppercase;
  font-size: .8rem;
  padding: 0;

  a {
    color: color-get(header, base);
    display: block;
    margin-bottom: 10px;
    font-size: .9rem;
    letter-spacing: .05rem;

    &:hover {
      color: color-get(anchor, hover);
    }
  }

  .signUpButton {
    background: color-get(signupButton, bg);

    &:hover {
      background: color-get(signupButton, bgHover);
      color: color-get(signupButton, base);
    }
  }

  &.-phone {
    text-align: center;
  }

  &.-hideMobile {
    @include smaller-than('medium-screen') {
      display: none !important;
    }
  }

  &.-showMobile {
    @include larger-than('medium-screen') {
      display: none !important;
    }
  }
}

@include smaller-than('medium-screen') {

  .flexMenu_block_item {

    .signUpButton {
      width: 100%;
      padding: 10px 15px;
      transform: translateX(-15px);
    }
  }
}


@include larger-than('medium-screen') {

  .flexMenu_block_item {

    a {
      display: inline-block;
      margin: 0;
      padding: 0 10px;
    }

    .btn {
      margin: 0 0 0 10px;
    }

    .signUpButton {
      padding: 20px;
      transform: translateX(15px);
    }

  }

}

[data-dropdown-element=dropdown] {
  // display: none;

  padding-left: $base-padding / 2;
  text-align: left;
  z-index: 100;
}

[data-dropdown-element=toggle] {
  position: relative;

  &::after {
    content: '+';
    position: absolute;

    right: 0;
  }

  &.is-open {

    &::after {
      content: '-';
    }

    ~ [data-dropdown-element=dropdown],
    > [data-dropdown-element=dropdown] {
      display: block;

      pointer-events: auto;
      max-height: 50vh;
    }

  }
}

// Make the Dropdown work on horizontal menu
@include larger-than('medium-screen') {

  [data-rig-ui-menu=horizontal] {

    [data-dropdown-element=dropdown] {
      position: absolute;
      display: block;
      top: 115%;
      left: 50%;
      padding: $base-padding / 2;
      transform-origin: 50% 0;
      transition: transform 300ms cubic-bezier(.34, 1.61, .7, 1), opacity 300ms;
      transform: translate(-50%, 10px) scale3d(0, 0, 0);
      background: color-get(header, bg);
      border-radius: $base-border-radius;
      opacity: 0;
      min-width: 200px;

      &::before,
      &::after {
        content: ' ';
        position: absolute;

        top: 0;
        left: 50%;
        border: 10px solid transparent;
        border-bottom-color: color-get(header, base);
        transform: translate(-50%, -100%);
      }

      &::after {
        top: 2px;
        border-bottom-color: color-get(header, bg);
      }

    }

    [data-dropdown-element=toggle] {
      // Remove dropdown indicator
      &::after {
        content: none;
      }

      &.is-open {
        ~ [data-dropdown-element=dropdown] {
          display: block;
          opacity: 1;
          transform: translate(-50%, 10px) scale3d(1, 1, 1);
        }
      }
    }
  }
}
