body.is-blue {
  background: #f2f5f7;
}

.grid--boxContainer {
  padding-top: 1.5rem;
}

// *******************************************************
// BOX
// *******************************************************

.box {
  background: $_cWhite;
  box-shadow: $vBoxshadow;
  padding: 1rem 2rem 2rem;
  border-radius: .2rem;
  margin: .5rem 0 1.5rem;

  .box__title {
    @extend .like-h5;
    margin: 0;
    color: #000;
    padding: 1rem 0;
    border-bottom: $vBorder;
    margin-bottom: 1rem;
  }

  a {
    font-family: 'Bariol', Arial, sans-serif;
    font-weight: 700;
    font-size: .9em !important;
  }

  strong {
    font-family: 'Bariol', Arial, sans-serif;
    font-weight: 700;
    font-size: .9em !important;
  }

  p {
    font-family: 'Bariol', Arial, sans-serif;
    border-bottom: .5rem;
    margin: 0 !important;

    ul li {
      margin-left: 0 !important;
    }

  }

  .box__footer {
    padding: 1rem 0;
    border-top: $vBorder;

    a {
      text-transform: uppercase;
      font-size: .9rem;
    }

  }

  .box__links {
    min-height: 7em;
  }

  .box__counter {
    float: right;
    display: inline-block;
    color: rgba(#000, .2);
    font-weight: 200;
    letter-spacing: 0;
  }
}

// .grid--boxContainer {
//   display: block;
//   display: -ms-flexbox;
//   -ms-flex-direction: column;
//   -ms-flex-wrap: wrap;
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   height: 100vw;
// }

// @supports not (flex-wrap: wrap) {
//   .grid--boxContainer {
//     display: block;
//     > div {
//       vertical-align: top;
//     }
//   }
// }

// *******************************************************
// VARIOUS
// *******************************************************

.pageTitle {
  margin-top: 0;
  width: 80%;
}

.pageContent {

  h2 { font-size: 2.3rem; margin-bottom: .5em; margin-top: 1.2em; }
  h3 { font-size: 1.7rem; margin-bottom: .5em; margin-top: 1.2em; }
  h4 { font-size: 1.3rem; margin-bottom: .5em; margin-top: 1.2em; }

  h2,
  h3,
  h4 {
    a {
      @extend .like-h4;
      display: none;
      color: $cAnchor;
      padding: 0;
      padding-right: 2rem;
      line-height: 1;
      position: absolute;
      left: 1rem;
      font-size: .9em;
      transform: translate(-60%, .2em);
    }

    &:hover a {
      display: inline-block;
    }

    img {
      margin: 1.5em 0;
    }

  }

  img,
  table {
    margin: 1.5em 0;
  }

  ul {
    @extend .ul;
  }

  ol {
    @extend .ol;

    list-style-type: decimal;
    margin-left: 20px;

    li {
      padding-left: .5rem;

      &::before {
        counter-increment: none;
        content: none;
      }
    }

    ul {
      li::before {
        @include showIcon($fa-var-caret-right);
        line-height: 1.5rem;
        display: inline-block;
        font-size: .6em;
        color: #101b27;
        position: absolute;
        transform: translate(-.5rem, .2rem);
        opacity: 1;
      }
    }
  }

  pre,
  pre code {
    overflow-x: auto;
  }

  .tag {
    margin-right: .5rem;
  }

  .onPageTags {
    margin-bottom: 2rem;
  }

  .comments {
    margin-top: 4rem;
  }
}

.ul--columnized {
  font-size: 0;
  padding: 2rem 0;

  li {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding-right: 10px;
    vertical-align: top;

    @media (max-width: $bpSmall) {
      width: 100%;
    }
  }
}

div#integrations {

  .box {

    img {
      display: block;
      width: 75px;
      height: 75px;
      margin: auto !important;
    }

    p {
      display: block !important;
      height: 75px !important;
      font-size: 1rem !important;
      line-height: 1rem !important;
    }

    h4 {
      margin-top: 0 !important;
      padding-top: 0 !important;
      font-size: 1rem !important;
    }

  }

  h3 {
    margin-top: 60px !important;
  }

}

.product-indicator {

  span {
    display: inline-block;
    padding: 0 5px 5px 0;
    margin: 0 0 1rem;
    font-size: .9rem;
  }

  .product-basic {
    color: #52c45c;
    border-bottom: 1px solid #52c45c;

    a {
      color: #52c45c !important;
      font-weight: bold;
      font-size: .9rem;
    }

  }

  .product-pro {
    border-bottom: 1px solid #132132;

    a {
      color: #132132 !important;
      font-weight: bold;
      font-size: .9rem;
    }

  }

  .product-general {
    border-bottom: 1px solid #5c92d6;

    a {
      color: #5c92d6 !important;
      font-weight: bold;
      font-size: .9rem;
    }

  }

}

// *******************************************************
// Notification Blocks
// *******************************************************

.alert-block,
.feedback-block,
.info-block,
.reading-block {
  position: relative;
  padding: .5em;
  line-height: 1.2em;
  border: 1px solid #fff;
  border-radius: 4px;
  padding-left: 2.4em;
  color: #fff;
  margin: 1.5em 0;

  &::before {
    font-family: 'FontAwesome';
    position: absolute;
    left: 1em;
    top: .8em;
    color: #fff;
  }

  h2 {
    font: bolder 20px/1.6 "Lato", sans-serif;
    margin: 1.2em 0 .8em;
    color: #fff;
  }

  p {
    font: 300 16px/1.6 "museo-sans-rounded", Arial, sans-serif;
    margin: .2em 0;
  }

  strong {
    color: #fff;
  }

  a {
    color: #fff;
    font-size: 1em;
    margin: 0;
    font-weight: bold;
  }

  a:hover {
    color: #fff;
    font-weight: bold;
  }
}

.alert-block {
  background-color: $_cRed;
  border-color: $_cRed;

  &::before {
    content: '\f071';
  }

  a {
    color: $_cDarkred;
  }

  code {
    background-color: $_cDarkred;
  }
}

.info-block {
  background-color: $_cLightblue;
  border-color: $_cLightblue;

  &::before {
    content: '\f05a';
  }

  a {
    color: #fff !important;
    font-weight: bold;
  }

  code {
    background-color: $_cDarkblue;
  }
}

.feedback-block {
  padding-top: .1em;
  background-color: $_cLightgrey;
  border-color: $_cLightgrey;

  &::before {
    content: '\f059';
    top: 1.8em;
  }

  a {
    color: $_cDarkgrey;
  }

  code {
    background-color: $_cDarkgrey;
  }

  .rating-nero-value {
    margin-right: 2em;
  }
}

.reading-block {
  background-color: #fff;
  border-color: #fff;
  color: #bac5d2;
  margin: 0 0 .8em;
  padding-top: 0;
  padding-bottom: 0;

  &::before {
    content: '\f017';
    color: #bac5d2;
    top: .3em;
  }
}

// *******************************************************
// Newsletter Subscribe
// *******************************************************

.newsletterSubscribe {
  background-image: url('../img/newsletterbox.jpg');
  background-size: cover;
  background-position-x: center;
  padding: 1rem 4rem;
  text-align: center;
  border-radius: .5rem;
  margin: 4rem 0;

  h2,
  p {
    color: $_cWhite;
  }

  form {
    width: 100%;
    max-width: 30;
    display: inline-block;
  }

}

.label--newsletter {
  padding-right: 7rem;
  margin: 1rem 0 3rem;

  input {
    border: none !important;
    border-radius: .5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: 0;
    width: 7rem;
    background: $_cGreen;
    font-size: 1rem;
    color: $_cWhite;
    text-transform: uppercase;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    cursor: pointer;
    letter-spacing: 1px;

    &:hover {
      background: darken($_cGreen, 4%);
    }

    &:active {
      background: darken($_cGreen, 8%);
    }

  }
}

.Layout {
  font-size: 0;
  margin-bottom: 3rem;
}

.Content {
  width: 80%;

  @media (max-width: $bpMedium) {
    width: 100%;
  }

  li {
    margin: .5rem 0 !important;
  }

}

ul#markdown-toc {
  margin: 0 0 3rem;

  li {
    margin: 0 !important;
  }

}
