body.is-blue {
  background: #f2f5f7;
}

.grid--boxContainer {
  padding-top: 1.5rem;
}

// *******************************************************
// BOX
// *******************************************************

.box {
  background: $_cWhite;
  box-shadow: $vBoxshadow;
  padding: 1rem 2rem 2rem;
  border-radius: .2rem;
  margin: .5rem 0 1.5rem;

  .box__title {
    @extend .like-h5;
    margin: 0;
    color: #000;
    padding: 1rem 0;
    border-bottom: $vBorder;
    margin-bottom: 1rem;
  }

  a {
    font: 300 16px/1.6 "museo-sans-rounded", Arial, sans-serif !important;
    font-size: .9em !important;
  }

  strong {
    font: 300 16px/1.6 "museo-sans-rounded", Arial, sans-serif !important;
    font-size: .9em !important;
  }

  p.box-link {
    margin: .5rem 0 !important;

    a.more-link {
      font-size: .9rem;
      display: block;
      margin: 2rem 0 0;
      background: none !important;
      font-weight: bold;
    }

    ul li {
      margin-left: 0 !important;
    }

  }

  .box__footer {
    padding: 1rem 0;
    border-top: $vBorder;

    a {
      text-transform: uppercase;
      font-size: .9rem;
    }

  }

  .box__links {
    min-height: 7em;
  }

  .box__counter {
    float: right;
    display: inline-block;
    color: rgba(#000, .2);
    font-weight: 200;
    letter-spacing: 0;
  }
}

// .grid--boxContainer {
//   display: block;
//   display: -ms-flexbox;
//   -ms-flex-direction: column;
//   -ms-flex-wrap: wrap;
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   height: 100vw;
// }

// @supports not (flex-wrap: wrap) {
//   .grid--boxContainer {
//     display: block;
//     > div {
//       vertical-align: top;
//     }
//   }
// }

// *******************************************************
// VARIOUS
// *******************************************************

.pageTitle {
  margin-top: 0;
  width: 90%;
}

.pageContent {

  h2 { @extend .like-h4; margin-bottom: .5em; margin-top: 1.5em; }
  h3 { font-size: 1.5rem; margin-bottom: .5em; margin-top: 1.5em; }
  h4 { font-size: 1.5rem; margin-bottom: .5em; margin-top: 1.5em; }

  h2,
  h3,
  h4 {
    a {
      @extend .like-h4;
      display: none;
      color: $cAnchor;
      padding: 0;
      padding-right: 2rem;
      line-height: 1;
      position: absolute;
      left: 1rem;
      font-size: .9em;
      transform: translate(-60%, .2em);
    }

    &:hover a {
      display: inline-block;
    }

    img {
      margin: 1.5em 0;
    }

  }

  img,
  table {
    margin: 1.5em 0;
  }

  ul {
    @extend .ul;
  }

  ol {
    @extend .ol;

    list-style-type: decimal;
    margin-left: 20px;

    li {
      padding-left: .5rem;

      &::before {
        counter-increment: none;
        content: none;
      }
    }

    ul {
      li::before {
        @include showIcon($fa-var-caret-right);
        line-height: 1.5rem;
        display: inline-block;
        font-size: .6em;
        color: #101b27;
        position: absolute;
        transform: translate(-.5rem, .2rem);
        opacity: 1;
      }
    }
  }

  pre,
  pre code {
    overflow-x: auto;
  }

  .tag {
    margin-right: .5rem;
  }

  .onPageTags {
    margin-bottom: 2rem;
  }

  .comments {
    margin-top: 4rem;
  }
}

.ul--columnized {
  font-size: 0;
  padding: 2rem 0;

  li {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding-right: 10px;
    vertical-align: top;

    @media (max-width: $bpSmall) {
      width: 100%;
    }
  }
}

.product-indicator {

  span {
    display: inline-block;
    padding: 0 5px 5px 0;
    margin: 0 0 1rem;
    font-size: .9rem;
  }

  .product-basic {
    color: #52c45c;
    border-bottom: 1px solid #52c45c;

    a {
      color: #52c45c !important;
      font-weight: bold;
      font-size: .9rem;
    }

  }

  .product-pro {
    border-bottom: 1px solid #132132;

    a {
      color: #132132 !important;
      font-weight: bold;
      font-size: .9rem;
    }

  }

  .product-general {
    border-bottom: 1px solid #5c92d6;

    a {
      color: #5c92d6 !important;
      font-weight: bold;
      font-size: .9rem;
    }

  }

}

.reading-time {
  margin: 1em 0 1.5em;
  padding: 0;
  color: #101b28;
  font-size: 1.5rem;

  p {
    font: 300 16px/1.6 "museo-sans-rounded", Arial, sans-serif !important;
  }
}

// *******************************************************
// Notification Blocks
// *******************************************************

.alert-block,
.info-block {
  display: block;
  position: relative;
  padding: 1rem;
  line-height: 1.2em;
  border-radius: 4px;
  padding-left: 40px;

  &::before {
    font-family: 'FontAwesome';
    content: '\f05a';
    position: absolute;
    top: 50%;
    width: 40px;
    left: 0;
    text-align: center;
    transform: translateY(-50%);
  }

  p {
    font: 300 16px/1.6 "museo-sans-rounded", Arial, sans-serif !important;
  }

}

.alert-block {
  background: rgba($cRed, .2);
  border: 1px solid $cRed;
  box-shadow: -3px 0 0 $cRed;

  &::before {
    color: $cRed;
  }
}

.info-block {
  background-color: $_cGreen;
  border: 1px solid $_cGreen;
  box-shadow: -3px 0 0 $_cGreen;
  color: #fff;
  margin-bottom: 2em;

  &::before {
    color: #fff;
  }

  a {
    color: #fff;
    font-weight: bold;
    background-image: linear-gradient(to bottom, transparent 50%, #fff 50%);
  }

  a:hover {
    color: #fff;
    font-weight: bold;
    background-image: linear-gradient(to bottom, transparent 50%, #fff 50%);
  }

  strong {
    color: #fff;
    text-transform: capitalize;
  }

}

.endcontent-block {
  margin: 3rem 0 0;
  display: block;
  position: relative;
  padding: 0;
  line-height: 1.2em;
  border-radius: 8px;
  padding-left: 40px;
  background: #fff;
  border: 4px solid $_cBlue;
  color: #000;

  p {
    font: 300 16px/1.6 "museo-sans-rounded", Arial, sans-serif !important;
  }

  h2 {
    margin: 2rem 0 1rem;
    color: #000;
  }

  &::before {
    color: $_cBlue;
  }

  a {
    color: $_cBlue;
    font-weight: bold;
    border-bottom: 1px solid #fff;
  }

  a:hover {
    color: $_cBlue;
    font-weight: bold;
    border-bottom: 1px solid $_cBlue;
  }

  h4 {
    color: #000;
  }

  .rating-nero-value {
    margin: 0 3rem 0 0;
    color: #000 !important;
  }

  strong {
    color: #000 !important;
  }

}

.polldaddy {
  margin: 1rem 0;
}

div#rating_info_8520732 {
  display: none !important;
}

// *******************************************************
// Newsletter Subscribe
// *******************************************************

.newsletterSubscribe {
  background-image: url('../img/newsletterbox.jpg');
  background-size: cover;
  background-position-x: center;
  padding: 1rem 4rem;
  text-align: center;
  border-radius: .5rem;
  margin: 4rem 0;

  h2,
  p {
    color: $_cWhite;
  }

  form {
    width: 100%;
    max-width: 30;
    display: inline-block;
  }

}

.label--newsletter {
  padding-right: 7rem;
  margin: 1rem 0 3rem;

  input {
    border: none !important;
    border-radius: .5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: 0;
    width: 7rem;
    background: $_cGreen;
    font-size: 1rem;
    color: $_cWhite;
    text-transform: uppercase;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    cursor: pointer;
    letter-spacing: 1px;

    &:hover {
      background: darken($_cGreen, 4%);
    }

    &:active {
      background: darken($_cGreen, 8%);
    }

  }
}

.Layout {
  font-size: 0;
  margin-bottom: 3rem;
}

.Content {
  width: 80%;

  @media (max-width: $bpMedium) {
    width: 100%;
  }

  li {
    margin: .5rem 0 !important;
  }

}

ul#markdown-toc {
  margin: 1.5rem 0;

  li {
    margin: 0 !important;
  }

}
