.Sidebar,
.Content {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
}

.Sidebar {
  width: 20%;
  text-align: left;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .1);
  border-radius: 5px;

  a {
    font-size: 85%;
    line-height: 85%;
  }

  li {
    margin-bottom: .5rem;
  }

  ul li {
    font-size: 1.1rem;
  }

  .ul__title {
    position: relative;
    padding: .8em .8em .8em 1.2em;
    margin: 0;

    &:hover {
      box-shadow: inset 1px 0 3px 1px rgba(0, 0, 0, .1);
    }

    h5.title {
      margin: 0;
      padding: 0;
      font-size: 1rem;
    }

    ul:first-of-type {
      display: none;
      z-index: 5;
      margin-top: 15px;
    }

    i {
      display: inline-block;
      float: right;
      margin-top: 6px;
      margin-left: 10px;

      &::before,
      &::after {
        content: '';
        position: absolute;
        background-color: $cAnchor;
        width: 3px;
        height: 9px;
      }

      &::before {
        transform: translate(-2px, -2px) rotate(-45deg);
      }

      &::after {
        transform: translate(-2px, 2px) rotate(-135deg);
      }
    }

    input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 2.8rem;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;

      &:checked~i {
        &::before {
          transform: translate(0, 0) rotate(45deg);
        }

        &::after {
          transform: translate(-4px, 0) rotate(-45deg);
        }

        ~ul {
          display: block;
        }
      }
    }
  }

  @media (max-width: $bpMedium) {
    width: 100%;
  }
}
