.Topmenu {
  position: relative;
  margin-top: 65px;
  padding: 1rem;
  text-align: left;
  font-size: 0;

  @media only screen and (max-width: 900px) {
    margin-top: 0;
  }

  button {
    cursor: pointer;
  }

  &_nav {
    font-size: 1rem;
    width: 100%;
    display: inline-block;
    vertical-align: middle;

    .active {
      font-weight: bold;
    }

    button {
      background: 0;
      border: 0;
      color: $cAnchor;
      font-size: 1rem;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      @media only screen and (max-width: 900px) {
        justify-content: space-around;
      }

      li {
        padding: 0 1rem;
      }
    }
  }

  &_search {
    position: relative;
    display: block;
    height: 50px;
    font-size: 1.2rem;
    background: #fff;
    border-bottom: 1px solid #d4d4d4;
    padding: 0 1rem;
    z-index: 1;

    &::before {
      content: '\f002';
      font-family: FontAwesome;
      color: $cAnchor;
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translate(-20%, -50%);
    }

    input[type=search] {
      width: 100%;
      display: block;
      height: 100%;
      border: 0;
      background: none;
      z-index: 9;
      padding: 14px 30px;
      -webkit-appearance: none; // Fix broken layout in Safari

      &:focus {
        outline: 0;
      }
    }
  }
}
