.Topmenu {
  position: relative;
  margin-top: 90px;
  padding: 1rem;
  text-align: left;
  font-size: 0;

  @media only screen and (max-width: 900px) {
    margin-top: 0;
  }

  button {
    cursor: pointer;
  }

  &_nav {
    font-size: 1rem;
    width: 100%;
    display: inline-block;
    vertical-align: middle;

    button {
      background: 0;
      border: 0;
      color: $cAnchor;
      font-size: 1rem;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      @media only screen and (max-width: 900px) {
        justify-content: space-around;
      }

      li {
        padding: 0 1rem;
      }
    }
  }

  &_search {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    background: #fff;
    border-bottom: 1px solid #d4d4d4;
    padding: 0 1rem;
    z-index: 1;
    margin-left: -1rem;
    transform: translateY(-100%) scale(1, 0);
    transform-origin: top center;
    transition: transform 100ms, opacity 100ms;
    pointer-events: none;
    opacity: 0;

    &.is-active {
      transform: translateY(0);
      pointer-events: auto;
      opacity: 1;
    }

    button {
      position: absolute;
      right: 1rem;
      top: 1rem;
      color: $cAnchor;
      background: none;
      border: 0;
      outline: 0;
      cursor: pointer;
      z-index: 10;

      @media only screen and (max-width: 900px) {
        left: 1rem;
        right: auto;
      }
    }

    input[type=search] {
      background: none;
      width: 100%;
      height: 100%;
      display: block;
      border: 0;
      position: absolute;
      z-index: 9;

      &:focus {
        outline: 0;
      }
    }
  }
}
